## Problem Statement: Loan Approval Prediction Problem
Type: Binary Classification Loan approval prediction is classic problem to learn and apply lots of data analysis techniques to create best Classification model.

Given with the dataset consisting of details of applicants for loan and status whether the loan application is approved or not. Basis on the a binary classification model is to be created with maximum accuracy.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Financial-Analytics-Loan-Approval-Prediction/main/loan_prediction.csv")
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

## Data Analysis

In [3]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
data.dropna(inplace = True)

In [5]:
data.shape

(480, 13)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [7]:
data.Dependents.unique()

array(['1', '0', '2', '3+'], dtype=object)

In [8]:
data['Dependents']  = data['Dependents'].replace('3+',3)

In [9]:
data['Dependents'] = data['Dependents'].astype(int)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    int32
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int32(1), int64(1), object(7)
memory usage: 50.6+ KB

In [11]:
data.drop(['Loan_ID'],axis = 1, inplace = True)

In [12]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()

In [13]:
data['Gender'] = le.fit_transform(data['Gender'])
data['Married'] = le.fit_transform(data['Married'])
data['Education'] = le.fit_transform(data['Education'])
data['Self_Employed'] = le.fit_transform(data['Self_Employed'])
data['Property_Area'] = le.fit_transform(data['Property_Area'])
data['Loan_Status'] = le.fit_transform(data['Loan_Status'])

In [14]:
data = data.reset_index(drop=True)

## Split the data

In [1]:
x = data.drop("Loan_Status",axis = 1)
y = data['Loan_Status']

NameError: name 'data' is not defined

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.30,random_state = 29)

In [2]:
model = LogisticRegression()
model.fit(x_train, y_train)

NameError: name 'LogisticRegression' is not defined

In [18]:
model.score(x_train, y_train)

0.8154761904761905

In [36]:
pd.DataFrame(model.coef_,columns=model.feature_names_in_).T

                          0
Gender             0.304791
Married            0.538068
Dependents        -0.002533
Education         -0.572976
Self_Employed     -0.423688
ApplicantIncome    0.000061
CoapplicantIncome -0.000032
LoanAmount        -0.002812
Loan_Amount_Term  -0.004200
Credit_History     2.664439
Property_Area     -0.100861

In [19]:
model.score(x_test, y_test)

0.7916666666666666

In [20]:
predictions = model.predict(x_test)

In [41]:
from sklearn.metrics import accuracy_score,recall_score,precision_score
print(f"accuracy:{accuracy_score(y_test,predictions)}")
print(f"recall:{recall_score(y_test,predictions)}")
print(f"precision:{precision_score(y_test,predictions)}")

accuracy:0.7916666666666666
recall:0.99
precision:0.7734375

## Decision Tree

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
dtree = DecisionTreeClassifier(criterion = 'gini',max_depth =4,random_state = 29)
dtree.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=4, random_state=29)

In [24]:
dtree.score(x_train,y_train)

0.8392857142857143

In [25]:
dtree.score(x_test,y_test)

0.7847222222222222

In [26]:
dtree1 = DecisionTreeClassifier(criterion = 'gini')
dtree1.fit(x_train,y_train)

DecisionTreeClassifier()

In [27]:
dtree2 = DecisionTreeClassifier(criterion = 'entropy',max_depth =3,random_state = 29)
dtree2.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=29)

In [28]:
dtree2.score(x_train,y_train)

0.8244047619047619

In [29]:
dtree2.score(x_test,y_test)

0.7847222222222222

## Bagging